<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="name"></div>
<div id="price"></div>
<div id="description"></div>
<div id="inventory"></div>

<script>
  $('form').submit(function(e) {
    e.preventDefault();

    const serialized = $(this).serialize();

    const posting = $.post('/products', serialized);

    posting.done(function(response) {
      $('#name').text(response.name);
      $('#price').text(response.price);
      $('#description').text(response.description);
      $('#inventory').text(response.inventory);
    });
  });
</script>